.complete-women
{
    /*border: 2px saddlebrown solid;*/
    width: 99.5%;
    height: 505px;
    margin: auto;
    margin-top: 20px;
    background-color:rgb(242, 194, 190);
    margin-bottom:80px;



}
#ban-1
{
    /*border: 2px red solid;*/
    float: right;
   padding: 0px;
   width: 45%;
    height: 503px; 
    margin:  auto;
    margin-right: 20px; 
    
    
}
#complete-p1
{
    color:gray;
    text-align: center;
    font-size: 18px;
}
#complete-p2
{
    color: black;
    font-size:60px ;
    text-align: center;
    margin-top: 12px;
}
.main-button
{
    background-color: #ff5353;
    color: white;
    cursor: pointer;
    outline: none;
    width: 150px;
    height: 49px;
    border: none;
    border-radius: 3px;
    text-align: center;
    margin-top:40px;
    font-size: 15px;
    padding: 0px;
}
.main-button:hover
{
    color: blue;
    background-color:white;
    transition:ease-in-out 0.4s;
}
.left-part
{
    /*border: 2px yellow solid;*/
    text-align: center;
    width: 45%;
    margin: auto;
    padding: 0px;
    float: left;
    height:430px ;
    margin-left: 50px;
    margin-top: 5px;


}

.left-text
{
    /*border: #ff5353 2px solid;*/
    text-align: center;
    display: block;
    margin-top: 135px;
    width: 99%;
    height: 320px;
    
}

