.menu
{
    /*border: 2px red solid;*/
    width:100%;
    background-color: white;
    color: black;   
    height: 50px;
    padding: 0px;
    margin-top:30px;
    margin-left: auto;
    margin-right: auto;


}
.menu > ul
{
    
    /*border: 2px hotpink solid;*/
    margin: auto;
    
    margin-left: 140px;
    margin-top: 15px;
    padding: 0px;
    list-style-type: none;
    width: 50%;
    height: 30px;
    text-align: center;
    display: inline-block;
    font-size: 15px;
}



/*.menu>ul>li
{
float: left;
margin-left: 30px;
padding: 0px;
display: block;
}*/



.menu #logo
{
    float: left;
    margin-top: 15px;
    margin-left: 70px;

    

}
.menu .menu-icon
{
    /*border: 2px blue solid;*/
    float:right;
   padding: 0px;
   height: 35px;
   width:15% ;
   margin: auto;
   margin-top: 18px;
   margin-right: 40px;
    
}
.icon-image
{
    
    /*border: yellow 2px solid;*/
    margin: auto 5px;
    width: 23px;
    height: 23px;
    margin-left: 10px;
    margin-right: 10px;
}
.icon-image:hover
{
cursor: pointer;
/*background-color:#ff5353;*/


}
.menu-item
{
    /*border: 2px seagreen solid;*/
    float: left;
    margin-left: 65px;
    margin-top: 4px;
    padding: 0px;
   /* display: block;*/
  font-weight: bold;
   font-size: 15px;


}
.menu a
{
    text-decoration:none;
}
.menu a:link,a:visited
{color: black;}
.menu a:hover,a:active
{color: #ff5353;}

.submenu-item 
{
list-style-type: none;
}
